.btn-book {
    background-color: #7f58fb;
    border: 1px solid #7f58fb;
    border-radius: 4rem;
    padding: 0.5rem 4rem;

    color: white;
    font-weight: 700;
    
    transition: all .2s linear;
}

.btn-book:hover,
.btn-book:active {
    background-color: #6a49d4 !important;
    border: 1px solid #6a49d4 !important;
    color: white !important;
} 