.pagination {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-top: 1rem;
}

.pagination button {
    padding: .5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
    background-color: #f9f9f9;
    cursor: pointer;
}

.pagination button.active {
    font-weight: bold;
    background-color: #6a49d4;
    color: white;
}

.pagination button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}
